.compartir{
    width: 600px;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.333);
    position: absolute;
    left: 20%;
    top: 20%;
    background: white;
    display:none;
}
.compartir{
    padding: 30px;
}
.compartir .title{
    background-color: #fff;
    color: #000;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.fila{
    margin-bottom: 20px;
}
.personas{
    line-height: 28px;
    color: #646464;
    font-size: 13px;
    margin-bottom: 5px;
}
.contenedor .content{
    float: left;
    min-height: 36px;
}
.inputConteiner{
    width: 359px;
    padding-bottom: 7px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #cbcbcb;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    overflow: hidden;
    display: inline-block;
}
.content #compartirEmail{
    width: 334px;
    display: inline-block;
    margin: 10px 4px 0 4px;
    vertical-align: middle;
    background: none;
    border: 0;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 23px;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 5px;
    position: relative;
    resize: none;
}
.selectConteiner{
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-color: #c6c6c6;
    color: #333;
    display: inline-block;
    float: right;
}
.selectConteiner select{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    color: #444;
    cursor: default;
    font-weight: bold;
    line-height: 27px;
    list-style: none;
    margin: 0 2px;
    min-width: 46px;
    outline: none;
    padding: 0 18px 0 6px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-right: 0;
    padding-top: 13px;
    padding-bottom: 13px

}
.buton{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    webkit-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.bot{
    padding-top: 40px;
    float: left;
}
.inputOptions{
    float: left;
}