{%extends "vistaBaseMenu.html" %}

{% block title %}
Home
{% endblock title %}

{%block body%}
    <div class="col-md-12 table">
        <div class="table-header">
            <div class="col-md-4">Nombre</div>
            <div class="col-md-4">SQL</div>
            <div class="col-md-4">Creador</div>
        </div>
        <div class="table-content">
            {% for consulta in consultas %}
                <form method="post" action="consulta/mostrar" id="form{{consulta.id}}">
                    <div class="row consultaTabla" ondblclick="ejecutarForm({{consulta.id}})">
                        <div class="col-md-4">{{consulta.nombre}}</div>
                        <div class="col-md-4">{{consulta.codigo_sql}}</div>
                        <div class="col-md-4">{{consulta.creador.nombre}}</div>
                        <input type="hidden" name="id" value={{consulta.id}}>
                    </div>
                </form>
            {% endfor %}
        </div>

    </div>
{%endblock body%}